#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.app-wrapper {
  min-height: 100vh;
}

.main-content {
  padding: 0;
}

.section-primary {
  padding: 4rem 2rem;

}

.section-light {
  padding: 4rem 2rem;

}

section {
  margin-bottom: 2rem;
}

h1, h2, h3 {

  margin-bottom: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Animation pour les sections */
section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive adjustments 
@media (max-width: 768px) {
  section {
    padding: 2rem 1rem;
  }
}*/

/* Ajoutez ce style pour les placeholders */
::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
  opacity: 1 !important;
}

/* Pour Firefox */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
  opacity: 1 !important;
}

/* Pour les thèmes sombres */
[data-bs-theme="dark"] ::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

[data-bs-theme="dark"] ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.image-hover-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-hover-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 15px;
  transition: opacity 2s ease-in-out;
}

.primary-image {
  opacity: 1;
  z-index: 1;
}

.hover-image {
  opacity: 0;
  z-index: 2;
}

.image-hover-container:hover .primary-image {
  opacity: 0;
}

.image-hover-container:hover .hover-image {
  opacity: 1;
}
